Logout redirect should use request port or relative URI

On logging out, the user agent is redirected after a `POST` to some path using a `3xx` response code. The `Location` in the response is determined from the original request, using the same scheme and host, but doesn't consider the port.

This causes problems when using a non-standard port, e.g. when not using a proxy.

Note that it appears that the `Location` header no longer needs to be an absolute URI. In [RFC 2616](https://www.rfc-editor.org/rfc/rfc2616#section-14.30) that was the case, but in newer [RFC 7231](https://www.rfc-editor.org/rfc/rfc7231.html#section-7.1.2) and [RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html#section-10.2.2) this was relaxed and `Location` is now a `URI reference` and can be relative.

Some of the registry functionality (redirects, forwards) depending on having a linked proxy server, so running without a proxy server isn't officially supported. Though certainly true that for simple cases where you don't need those services then running raw can be useful for test purposes. 